


<footer class="bs-docs-footer">
    <div class="container-fluid">
      <p> nz1903.电影评论@showtime.now</p>
      <p>nz1903 &copy 项目模拟实验基地</p>
    </div>
  </footer>


  <style>
      footer{
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 100;
      }
  </style>