<!DOCTYPE html>
<html>

<head>
  <title>首页</title>
  <%- include common %>
</head>

<body>
  <%- include("head", {title:'home'}) %>

  <%    if(username){   %>
    <h4>欢迎你 , <%- username %> </h4>
    <div>
        <button class="btn btn-danger" onclick="location.href='/logout'">注销</button>
        <button class="btn btn-info" onclick="location.href='/movie'">电影主页</button>
    </div>
<%    }else{    %> 
    <h4>你还没有登录,请马上去登录</h4>
    <div>
        <button class="btn btn-primary" onclick="location.href='/login'">登录</button>
        <button class="btn btn-success" onclick="location.href='/register'">注册</button>
    </div>
<%    }   %>
</div>

  <%- include  foot %>
</body>

</html>